<%= simple_form_for @van do |f| %>
<%= f.input :town %>
<%= f.input :pictures %>
<%= f.input :pictures_cache, as: :hidden %>
<%= f.input :description %>
<%= f.input :prices %>
<%= f.input :availability %>
<%= f.input :year %>
<%= f.input :kilometers %>
<%= f.input :hyppyness %>
<%= f.button :submit, class: "create-button" %>
<button type="button" class="create-button"><%= link_to "Back to Dashboard", dashboards_path%> </button>
<% end %>
