<%= simple_form_for @van do |f| %>


<%= f.input :description, placeholder: 'Détails ici' %>
<%= f.input :town, placeholder: 'Chambery', label: 'Ville' %>
 <%= f.input :availability, label: 'Disponible le' %>
<div class="form-row">
    <div class="col">
   <%= f.input :prices, placeholder: '120€', label: 'Prix / j' %>
    </div>
    <div class="col">
<%= f.input :year, placeholder: '2008', label: 'Année' %>
    </div>
     <div class="col">
<%= f.input :kilometers, placeholder: '70 000', label: 'kms' %>
    </div>
</div>
<%= f.input :hippyness, label: 'Van de hippie'%>

<%= f.input :pictures, label: 'Mettez une photo de votre van' %>
<%= f.input :pictures_cache, as: :hidden %>
<%= f.button :submit, class: "create-button", value: 'Créer votre van' %>
<button type="button" class="create-button"><%= link_to "Retour au dashboard", dashboards_path%> </button>
<% end %>
