<%= simple_form_for @van do |f| %>
<%= f.input :town %>
<%= f.input :pictures %>
<%= f.input :prices %>
<%= f.input :availability %>
<%= f.input :year %>
<%= f.input :kilometers %>
<%= f.input :hyppyness %>
<%= f.button :submit, id: "button-show" %>
<button type="button" id="button-show2"class="btn btn-primary"><%= link_to "Back to Dashboard", dashboards_path%> </button>
<% end %>
