<%= simple_form_for @van do |f| %>


<%= f.input :description, placeholder: 'Détails ici' %>
<%= f.input :town, placeholder: 'Chambery' %>
 <%= f.input :availability %>
<div class="form-row">
    <div class="col">
   <%= f.input :prices, placeholder: '150€' %>
    </div>
    <div class="col">
<%= f.input :year, placeholder: '1986' %>
    </div>
     <div class="col">
<%= f.input :kilometers, placeholder: '170 000' %>
    </div>
</div>
<%= f.input :hyppyness %>

<%= f.input :pictures %>
<%= f.input :pictures_cache, as: :hidden %>
<%= f.button :submit, class: "create-button" %>
<button type="button" class="create-button"><%= link_to "Back to Dashboard", dashboards_path%> </button>
<% end %>
