
<body class="van-show">

    <%# <h2 id="H">Book your Van!</h2> %>


  <div class="bg-img banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('<%= cl_image_path @van.image, height: 300, width: 400, crop: :fill %>')">
      <h2 id="H">Book this Van!</h2>
  </div>
  <section class="container-van-show">
    <div id="userVan">
      <img class="avatar-a" alt="avatar" src="https://ca.slack-edge.com/T02NE0241-U3HFUV8DA-63795d118b7b-72" />
      <p><strong><em>Propriétaire:</em></strong> <%= @van.owner.first_name %> <%= @van.owner.last_name %></p>
    </div>
    <div id="description-a">
      <p><strong><em>Ville:</em></strong> <%= @van.town %></p>
    </div>
    <div id="description-b">
      <p><strong><em>Disponibilité:</em></strong> <%= @van.availability %></p>
    </div>
    <div id="description-c">
      <p><strong><em>Prix:</em></strong> <%= @van.prices %>€/jour</p>
    </div>
  </section>
  <div class="container-a">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <h2>RESERVATION</h2>

      <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :début, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :fin, as: :string, required: false, input_html: {class: "datepicker"} %>
      <% end %>
    </div>
  </div>
  <section class="container-b">
    <div class="link">
      <p><strong>Contacte Kev Cha pour plus d'infos!</strong> <a href="email">stetienne@yahoo.fr</a></p>
    </div>
    <div class="btn-show">
    <%= link_to "Book this Van", van_rentals_path(@van), class: "create-button", method: :post %>
    </div>
  </section>
</body>
