<div class="container-signin">
  <div class="form-signin" style = "padding: 9px">
    <div class="d-flex justify-content-center">
    <h2>Enregistre toi <img src="https://image.flaticon.com/icons/svg/2258/2258643.svg" alt="" style="width: 40px"></h2>
    </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Sign up" %>
        </div>
          <% end %>
        <div class="button_regist d-flex justify-content-center">
        <%= render "devise/shared/links" %>
        </div>
  </div>
              <div class="img-signin-div">
              <img src="https://media.giphy.com/media/3o7WIAwEIpiH58BQYM/giphy.gif" alt="van-gif">
            </div>
</div>
